venv/
**/venv/
__pycache__/

*.bam
*.bai
*.sam
*.vcf
*.vcf.gz
*.fastq
*.fastq.gz

output/
results/
logs/
temp/
uploads/
downloads/
office_server/
reference/
jobs/
server_storage/
input_fastq/
.snakemake/